<h1 i18n="Title of the home page@@home/home.title">Help Igor in his <strong>next adventures!</strong></h1>

<p i18n="Introduction of Eternalfest on the homepage@@home/intro"><strong>Eternalfest</strong> is a website to play user-created levels of Motion-Twin's platforming game <a href="http://www.hammerfest.fr/"><strong>Hammerfest</strong></a>. This is a fan-made project created by Demurgos, Moulins, Maxdefolsch and a dozen other players; it is not officially endorsed by Motion-Twin.</p>

<h2 i18n="Title of the section describing the new content (on the homepage)@@home/newContent.title">New content</h2>

<p i18n="Description of the new content (on the homepage)@@home/newContent">
  Despite the strong demand for new content, Hammerfest got its last official levels in 2007. <strong>Eternalfest</strong> brings the largest content update for Hammerfest to all players. We have thousands of new levels, new enemies, new items, new game modes, all for free. We regularly release new content. You can log in with your official Hammerfest credentials and start playing now.
</p>

<h2 i18n="Title of the section explaining that the progress is saved (on the homepage)@@home/progress.title">Save your progress</h2>

<p i18n="Explanation that the progress is saved (on the homepage)@@home/progress">
  We automatically backup your progress on the official version when linking your account. The official website had some major outages over the years and lost some features, it is no longer actively maintained. If the official website closes, your items and best score will still be safe thanks to this backup. You can also share your profile with other players: it provides improved statistics on your progress.
</p>

<h2 i18n="Title of the section explaining what is planned@@home/next.title">Next steps</h2>

<p i18n="Section describing the planned next steps@@home/next">
  This project is still at an early stage. Our plans for the future are to add support for quests, provide a public level editor, and create even more content.
</p>

<h2 i18n="Title of the section how to learn more about Eternalfest@@home/learnMore.title">Learn more</h2>

<p i18n="Explanation about where to learn more about Eternalfest@@home/learnMore">
  If you want to chat with us, <a href="https://discord.gg/VTBjxn7">join the Hammerfest Discord server</a>. You can also check <a href="https://www.youtube.com/user/eternalfest">our YouTube channel</a> or visit <a href="http://www.hammerfest.fr/forum.html/thread/476324">the Eternalfest thread</a> on the french forum.
</p>
