<div [class.log]="row.level === 'log'">
  <ng-container [ngSwitch]="row.type">
    <div class="content" *ngSwitchCase="'text'">
      <p>{{asTextRow(row).text}}</p>
    </div>
    <div class="content" *ngSwitchCase="'flash-object'">
      <efd-tree-view [node]="asssertRemoteObjectNode(remoteObjectNode)">
        <ng-template #rootNode let-node>
          <efd-remote-object [object]="node.data"></efd-remote-object>
        </ng-template>
        <ng-template #childNode let-node>
          <efd-property-descriptor [descriptor]="node.data"></efd-property-descriptor>
        </ng-template>
      </efd-tree-view>
    </div>
    <div class="content" *ngSwitchDefault>
      <pre>{{row}}</pre>
    </div>
  </ng-container>
</div>
