@use "sass:math";

:host {
  display: block;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  text-align: left;
  display: flex;
  padding: 0;
  width: 100%;
  flex-direction: row;
  position: relative;
  align-items: center;

  & .content {
    flex: 1;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

$arrow-height: 5px;
$arrow-color: white;

.arrow {
  width: 1em;
  height: 1em;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    border: $arrow-height solid transparent;
    margin-left: math.div(-$arrow-height, 2);
    margin-top: -$arrow-height;
    border-left: $arrow-height solid $arrow-color;
  }
}

.expanded .arrow::after {
  margin-left: -$arrow-height;
  // Lower the down arrow to be aligned on the middle (instead of being centered), use `-$arrow-height / 2` to center
  margin-top: 0;
  border-left: $arrow-height solid transparent;
  border-top: $arrow-height solid $arrow-color;
}

.leaf .arrow::after {
  display: none;
}

.children {
  margin-left: 1em;
}
