<button class="node" [class.expanded]="isExpanded" [class.leaf]="node.isLeaf" (click)="toggleIsExpanded();">
  <span class=".arrow"></span>
  <span class=".content">
    <ng-container *ngIf="isRoot">
      <pre *ngIf="!templates.rootNode">{{node.data}}</pre>
      <ng-container *ngIf="templates.rootNode" [ngTemplateOutlet]="templates.rootNode" [ngTemplateOutletContext]="{$implicit: node, node: node}"></ng-container>
    </ng-container>
    <ng-container *ngIf="!isRoot">
      <pre *ngIf="!templates.childNode">{{node.data}}</pre>
      <ng-container *ngIf="templates.childNode" [ngTemplateOutlet]="templates.childNode" [ngTemplateOutletContext]="{$implicit: node, node: node}"></ng-container>
    </ng-container>
  </span>
</button>
<div class="children" *ngIf="isExpanded">
  <pre *ngIf="children === undefined">Loading...</pre>
  <ol *ngIf="children !== undefined">
    <li *ngFor="let childNode of children">
      <efd-tree-node [node]="childNode" [is-root]="false" [templates]="templates"></efd-tree-node>
    </li>
  </ol>
</div>
