#tid-bar {
  height: 32px;
  background-color: #111317;
  color: #b7b9c6;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  position: relative;

  marquee {
    line-height: 32px;
    font-family: Arial, sans-serif;
    font-size: 12pt;
  }
}
