@use "sass:math";
@import "themes/ef";
@import "themes/goodbye";
@import "themes/xmas";
@import "reset";
@import "box-sizing";
@import "theme";
@import "layout/all";
@import "layout/dimensions";
@import "theme/app";

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  min-width: $site-width-with-margins;
  font-family: Trebuchet MS, Verdana, Georgia, sans serif;
  font-size: 10pt;
  text-align: justify;
  position: relative;
}

ef-app {
  @include ef-app-theme($theme-ef);

  &.theme-xmas {
    @include ef-app-theme($theme-xmas);
  }

  &.theme-goodbye {
    @include ef-app-theme($theme-goodbye);
  }
}

@include app-theme($theme-ef);

ef-app.theme-xmas {
  @include app-theme($theme-xmas);
}

ef-app.theme-goodbye {
  @include app-theme($theme-goodbye);
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@import "tid-bar";
@import "theme/header";
@import "form";

ef-game-list {
  $icon-size: 60px;
  $spacing: 10px;

  a {
    display: flow-root;
    padding: $spacing;
    width: 100%;

    text-decoration: none;
    border: none;
    background-color: transparent;
    color: inherit;
    text-align: left;

    &:hover {
      background-color: rgba(124, 75, 77, 0.2);
    }

    cursor: pointer;
  }

  img {
    float: left;
    width: $icon-size;
    height: $icon-size;
  }

  span {
    display: block;
  }

  .details {
    margin-left: $icon-size + $spacing;
  }

  .name {
    margin-bottom: math.div($spacing, 2);
    font-size: 1.2em;
  }

  .version {
    float: right;
  }

  .description {
    text-align: justify;
    opacity: 0.7;
  }
}

ef-game-pagination {
  & ul {
    text-align: center;
  }

  & li {
    display: inline-block;
    margin: 0 0.3em;
    font-size: 2em;
  }
}

$background-color: #e8b0b3;
$text-color: #8f201e;
$border-color: #6a100e;

ef-game-view, ef-leaderboard, ef-profile {
  .game-tabs a {
    display: block;
    float: left;
    padding: 10px 15px;
    background: $background-color;
    border: 1px solid $background-color;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    margin-left: 10px;
    margin-right: 1px;
    color: $text-color;
    text-decoration: none
  }

  .game-tabs a + a {
    margin-left: 0;
  }

  .game-tabs a.blurred {
    background-repeat: repeat-x;
    background-size: 1px 10px;
    background-position: bottom;
    background-image: linear-gradient($background-color, #d38184);
    &:hover {
      background-size: 1px 100%;
    }
  }

  nav {
    padding: 0 0 34px 0;
  }
}

ef-leaderboard .game-tabs a {
  border: 1px solid $border-color;
  border-bottom: none;
}


$background-color: #e8b0b3;
$text-color: #8f201e;
$border-color: #6a100e;

table {
  border: 1px solid $border-color;
  width: 100%;
}

thead th {
  padding: 4px;
  text-align: center;
  background-color: $background-color;
  color: $text-color;
  border: 1px solid $border-color;
}

td {
  padding: 4px;
  text-align: center;
  border: 1px solid $border-color;
}
