nav {
  display: flex;
  height: 40px;
}

nav a, nav button {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
