@use "sass:math";

$main-bar-width: 586px;
$main-bar-height: 22px;
$bar-stripes-angle: -66.67deg;
$bar-stripes-offset: 4px;
$bar-stripes-width: 4px;
$bar-anti-aliasing-width: 4px;

$border-width: 3px;

$site-width-with-margins: 762px;
$site-width: 636px;
$site-margin-x: math.div($site-width-with-margins - $site-width, 2);
$site-margin-top: 24px;

$header-width: $site-width;
$header-height: 178px;

header {
  width: $header-width;
  height: $header-height;
  margin: auto;
  margin-top: $site-margin-top;
  position: relative;

  .img-title {
    $img-width: 437px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    position: absolute;
    top: 32px;
    left: 50%;
    height: 100px;
    width: $img-width;
    margin-left: math.div(-$img-width, 2) - 5px;
  }

  .img-rays {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height - $border-width;
    overflow: hidden;

    svg {
      position: absolute;
      bottom: $main-bar-height + 15px;
      left: 0;
      right: 0;
    }

    .grad {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: $header-height;
    }
  }

  .img-main-bar {
    position: absolute;
    bottom: 0;
    left: $main-bar-height;
    right: $main-bar-height;
    height: $main-bar-height;
    border-radius: 7px;
  }

  .img-snow {
    $img-width: 762px;
    $img-height: 69px;

    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    top: -$border-width - $site-margin-top;
    left: -$border-width - $site-margin-x;
    height: $img-height;
    width: $img-width;
  }

  .img-left {
    $img-width: 191px;
    $img-height: 201px;

    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: -$border-width - $site-margin-top;
    left: -$border-width - $site-margin-x;
    height: $img-height;
    width: $img-width;
  }

  .img-right {
    $img-width: 207px;
    $img-height: 194px;
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: -$border-width - $site-margin-top;
    right: -$border-width - $site-margin-x;
    height: $img-height;
    width: $img-width;
  }

  .img-expansion-dimensions {
    $img-width: 182px;
    $img-height: 66px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 105px;
    left: 50%;
    width: $img-width;
    height: $img-height;
    margin-left: math.div(-$img-width, 2) + 50px;
  }

  h1 {
    position: absolute;
    top: 34px;
    left: 100px;
    right: 100px;
    height: 100px;
    opacity: 0;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .main-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    nav {
      width: $main-bar-width;
      height: $main-bar-height;
      margin: auto;
      text-align: center;
    }
    a {
      display: inline-block;
      line-height: 12pt;
      margin: 2px;
      padding: 0 5px;
      text-decoration: none;

      &.button {
        text-align: center;
        cursor: pointer;
      }

      &:not(.button):hover {
        text-decoration: underline;
      }
    }
  }
}
