$header-color: #d9578d;

:host::shadow h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: $header-color;
  text-align: left;
}

ef-settings-display-name, ef-settings-accounts {
  display: block;
  margin-bottom: 2em;
}
