<div *ngIf="run === undefined; else runTemplate">
  <div i18n="Loading run info message@@runs/run.loading">Loading...</div>
</div>
<ng-template #runTemplate="">
  <ng-container *ngIf="run!.startedAt === null; else startedRunTemplate">
    <h1 i18n="Title of the run page (when playing the run)@@runs/run.title">Play</h1>
    <div class="desktop-app" i18n="Eternal-Twin app call@@runs/run.app">Do you have issues with Flash? Download our <a href="https://eternal-twin.net/docs/desktop">Eternal-Twin Application</a>.</div>
    <div class="game-zone">
      <div class="top-bar"></div>
      <ef-game [run]="run"></ef-game>
      <div class="bottom-bar"></div>
    </div>
  </ng-container>
  <ng-template #startedRunTemplate="">
    <h1 i18n="Title of the run result page@@runs/run.resultTitle">Result</h1>
    <ng-container *ngIf="run!.result === null; else completedRunTemplate">
      <p i18n="Message displayed when the run was started but no result is available@@runs/run.startedButNoResult">
        This run was started but no result is available. It may be possible that this run was already started in another tab, or closed unexpectedly without saving its result.
      </p>
    </ng-container>
    <ng-template #completedRunTemplate="">

      <dl>
<!--        <div>-->
<!--          <dt i18n="Name of game in the run result page@@runs/run.result.game">Game</dt>-->
<!--          <dd><a [routerLink]="['/games', run!.game!.id]">{{run!.game!.displayName}}</a></dd>-->
<!--        </div>-->
        <div>
          <dt i18n="Username of the player in the run result page@@runs/run.result.player">Player</dt>
          <dd><a [routerLink]="['/users', run!.user!.id]">{{run!.user!.displayName}}</a></dd>
        </div>
        <div>
          <dt i18n="Total score (sum of all players) in the run result page@@runs/run.result.totalScore">Points</dt>
          <dd>{{sumScores(run!.result!.scores) | score}}</dd>
        </div>
        <ng-container *ngIf="run!.result!.scores.length === 2">
          <div>
            <dt i18n="Igor's score (first player) in the run result (only for two-player mode results)@@runs/run.result.score0">Igor's Points</dt>
            <dd>{{run!.result!.scores[0] | score}}</dd>
          </div>
          <div>
            <dt i18n="Sandy's score (seconde player) in the run result (only for two-player mode results)@@runs/run.result.score1">Sandy's Points</dt>
            <dd>{{run!.result!.scores[1] | score}}</dd>
          </div>
        </ng-container>
        <div>
          <dt i18n="Maximum level reached during the run in the run result page@@runs/run.result.maxLevel">Reached level</dt>
          <dd>{{run!.result!.maxLevel}}
          <ng-container *ngIf="run!.result!.isVictory" i18n="Victory marker in the run result page@@runs/run.result.isVictory">(Victory)</ng-container>
          </dd>
        </div>

        <ng-container *ngIf="run!.result!.stats.soccer !== undefined">
          <div>
            <dt i18n="Team 0 (Igor)'s number of ball kicks@@runs/run.result.stats.soccer.kicks.0">Team Igor's number of kicked balls</dt>
            <dd>{{run!.result!.stats.soccer!.kicks[0]}} ({{run!.result!.stats.soccer!.possKicks[0]}}%)</dd>
          </div>
          <div>
            <dt i18n="Team 1 (Sandy)'s number of ball kicks@@runs/run.result.stats.soccer.kicks.1">Team Sandy's number of kicked balls</dt>
            <dd>{{run!.result!.stats.soccer!.kicks[1]}} ({{run!.result!.stats.soccer!.possKicks[1]}}%)</dd>
          </div>

          <div>
            <dt i18n="Team 0 (Igor)'s number of bombs@@runs/run.result.stats.soccer.bombs.0">Team Igor's number of bombs</dt>
            <dd>{{run!.result!.stats.soccer!.bombs[0]}} ({{run!.result!.stats.soccer!.possBombs[0]}}%)</dd>
          </div>
          <div>
            <dt i18n="Team 1 (Sandy)'s number of bombs@@runs/run.result.stats.soccer.bombs.1">Team Sandy's number of bombs</dt>
            <dd>{{run!.result!.stats.soccer!.bombs[1]}} ({{run!.result!.stats.soccer!.possBombs[1]}}%)</dd>
          </div>

          <div>
            <dt i18n="Team 0 (Igor)'s goals@@runs/run.result.stats.soccer.goals.0">Team 0 (Igor)'s goals (s)</dt>
            <ng-container *ngFor="let goal of run!.result!.stats.soccer.goals">
              <dd *ngIf="goal[1] === 0">{{goal[0]}} <ng-container *ngIf="goal[2]"> (OG)</ng-container></dd>
            </ng-container>
          </div>

          <div>
            <dt i18n="Team 1 (Sandy)'s goals@@runs/run.result.stats.soccer.goals.1">Team 1 (Sandy)'s goals (s)</dt>
            <ng-container *ngFor="let goal of run!.result!.stats.soccer.goals">
              <dd *ngIf="goal[1] === 1">{{goal[0]}} <ng-container *ngIf="goal[2]"> (OG)</ng-container></dd>
            </ng-container>
          </div>
        </ng-container>

      </dl>

      <form class="run-options" method="POST" (ngSubmit)="onSubmit($event)">
        <input class="small" type="submit" value="Restart a new run" i18n-value="@@runs/run.result.replay" [disabled]="pending">
      </form>
    </ng-template>
  </ng-template>
</ng-template>
