@use "sass:math";
@import "src/styles/theme";

$main-bar-width: 586px;
$main-bar-height: 22px;
$bar-stripes-angle: -66.67deg;
$bar-stripes-offset: 4px;
$bar-stripes-width: 4px;
$bar-anti-aliasing-width: 4px;

$border-width: 3px;

$site-width-with-margins: 762px;
$site-width: 636px;
$site-margin-x: math.div($site-width-with-margins - $site-width, 2);
$site-margin-top: 24px;

$header-width: $site-width;
$header-height: 178px;

@mixin header-theme($theme) {
  header {
    $site-border-color: map_get($theme, "site-border-color");
    $site-bg-color: map_get($theme, "site-bg-color");
    $text-color: map_get($theme, "text-color");
    $header-rays-color: map_get($theme, "header-rays-color");
    $bar-color-light: map_get($theme, "bar-color-light");
    $bar-color-dark: map_get($theme, "bar-color-dark");
    $button-bg-color: map_get($theme, "button-bg-color");
    $button-text-color: map_get($theme, "button-text-color");
    $button-action-bg-color: map_get($theme, "button-action-bg-color");
    $img-header-snow: map_get($theme, "img-header-snow");
    $img-header-left: map_get($theme, "img-header-left");
    $img-header-right: map_get($theme, "img-header-right");
    $img-header-expansion-dimensions: map_get($theme, "img-header-expansion-dimensions");
    $img-header-title: map_get($theme, "img-header-title");

    border-top: $border-width solid $site-border-color;
    border-left: $border-width solid $site-border-color;
    border-right: $border-width solid $site-border-color;
    background-color: $site-bg-color;

    .img-title {
      background-image: url($img-header-title);
    }

    .img-rays {
      svg {
        #header-rays {
          fill: $header-rays-color;
        }
      }

      .grad {
        background-image: linear-gradient(transparent 74px, $site-bg-color 124px);
        background-size: 100% $header-height;
        background-position: bottom center;
        background-repeat: repeat-x;
      }
    }

    .img-main-bar {
      background-color: $bar-color-light;
      background-image: repeating-linear-gradient(
          $bar-stripes-angle,
          transparent,
          transparent $bar-stripes-width - $bar-anti-aliasing-width,
          $bar-color-dark $bar-stripes-width,
          $bar-color-dark 2 * $bar-stripes-width - $bar-anti-aliasing-width,
          transparent 2 * $bar-stripes-width
      );
    }

    .img-snow {
      @if $img-header-snow != null {
        display: initial;
        background-image: url($img-header-snow);
      } @else {
        display: none;
        background-image: none;
      }
    }

    .img-left {
      @if $img-header-left != null {
        display: initial;
        background-image: url($img-header-left);
      } @else {
        display: none;
        background-image: none;
      }
    }

    .img-right {
      @if $img-header-right != null {
        display: initial;
        background-image: url($img-header-right);
      } @else {
        display: none;
        background-image: none;
      }
    }

    .img-expansion-dimensions {
      background-image: url($img-header-expansion-dimensions);
    }

    .main-bar {
      a {
        color: $button-text-color;

        &.button {
          background-color: $button-bg-color;
          border: solid 1px $text-color;

          &:hover {
            background: $button-action-bg-color;
          }
        }
      }
    }
  }
}
