<div *ngIf="game !== undefined; else loading" xmlns="http://www.w3.org/1999/html">
  <h1>
    <strong>{{game.channels.active.build.displayName}}</strong>
  </h1>
  <nav class="game-tabs">
    <a [routerLink]="['/games', game!.id]" i18n="Tab to the game main page@@games/game.tab">Game</a>
    <a class="blurred" [routerLink]="['/games', game!.id, 'leaderboard']" i18n="Tab to the game leaderboard@@games/leaderboard.tab">Leaderboard</a>
    <a class="blurred" [routerLink]="['/games', game!.id, 'profile']" i18n="Tab to the user profile for a game@@games/profile.tab" *ngIf="isAuthenticated$ | async">My profile</a>
  </nav>
  <div class="details card">
    <img
      src="{{game.channels.active.build.icon | gameIconUri}}"
      [alt]="game.channels.active.build.displayName"
    />
    <div class="right">
      <p class="description">{{game.channels.active.build.description}}</p>
      <dl>
        <div>
          <dt i18n="@@games/game.author">Owner:</dt>
          <dd>{{game.owner.displayName}}</dd>
        </div>
        <div>
          <dt i18n="@@games/game.publicationDate">Publication date:</dt>
          <dd>
            <ng-container *ngIf="game.channels.active.publicationDate !== null; else noPublicationDate">
              {{game.channels.active.publicationDate | date}}
            </ng-container>
            <ng-template #noPublicationDate>
              No publication date
            </ng-template>
          </dd>
        </div>
      </dl>
      <form method="POST" (ngSubmit)="addToFavorite($event)" *ngIf="isAuthenticated$ | async">
        <input class="small" type="submit" value="Add to Favorites" i18n-value="@@games/game.addToFavorite" *ngIf="!this.favorite">
      </form>
    </div>
  </div>
  <form class="run-options" method="POST" (ngSubmit)="onSubmit($event)">
    <div>
      <div class="card">
        <h2 i18n="@@games/game.modesTitle">Game modes</h2>
        <ul>
          <li *ngFor="let gameMode of game.channels.active.build.modes | keyvalue;">
            <label>
              <ng-container [ngSwitch]="gameMode.value.isVisible">
                <input *ngSwitchCase="false" type="radio" name="game_mode" [value]="gameMode.key" disabled/>
                <input *ngSwitchCase="true" type="radio" [(ngModel)]="gameModeKey" name="game_mode" [value]="gameMode.key"/>
                <pre *ngSwitchCaseDefault>[unknown state]</pre>
              </ng-container>
              <ef-game-mode-name [mode]="gameMode.value.displayName"></ef-game-mode-name>
            </label>
          </li>
        </ul>
        <input type="radio" name="game_mode" [value]="undefined" hidden/>
      </div>
      <div class="card">
        <h2 i18n="@@games/game.settingsTitle">Settings</h2>
        <ul>
          <li>
            <label><input type="checkbox" [(ngModel)]="detail" name="detail"/>
              <ng-container i18n="@@games/game.settings.detail">High quality graphics</ng-container>
            </label>
          </li>
          <li>
            <label><input type="checkbox" [(ngModel)]="shake" name="shake"/>
              <ng-container i18n="@@games/game.settings.shake">Frequent vibrations</ng-container>
            </label>
          </li>
          <li>
            <label><input type="checkbox" [(ngModel)]="sound" name="sound"/>
              <ng-container i18n="@@games/game.settings.sound">Sound</ng-container>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" [(ngModel)]="music" name="music"/>
              <ng-container i18n="@@games/game.settings.music">Music</ng-container>
            </label>
          </li>
          <li>
            <label>
              <select [(ngModel)]="locale" name="locale">
                <option *ngFor="let l of availableLocales" [ngValue]="l">
                  {{ l }}
                </option>
              </select>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <h2><strong><ef-game-mode-name [mode]="gameMode?.displayName"></ef-game-mode-name></strong> - <ng-container i18n="@@games/game.optionsTitle">Options</ng-container></h2>
      <ul *ngIf="gameMode !== undefined">
        <li *ngFor="let option of gameMode.options | keyvalue;">
          <label (change)="onOptionChange($event)">
            <ng-container [ngSwitch]="option.value.isEnabled">
              <input *ngSwitchCase="false" type="checkbox" disabled/>
              <input *ngSwitchCase="true" type="checkbox" name="options[]" [value]="option.key"/>
<!--              <input *ngSwitchCase="GameOptionState.Locked" type="checkbox" checked disabled/>-->
              <pre *ngSwitchCaseDefault>[unknown state]</pre>
            </ng-container>
            <ef-game-option-name [option]="option.value.displayName"></ef-game-option-name>
          </label>
        </li>
        <li *ngIf="gameMode.options.size === 0" class="no-options" i18n="@@games/game.noOptions">No options available</li>
      </ul>
      <div class="spanner"></div>
      <input class="small" type="submit" value="Play" i18n-value="@@games/game.play" [disabled]="gameMode === undefined" *ngIf="isAuthenticated$ | async">
    </div>
  </form>
</div>
<ng-template #loading>
  <div i18n="Loading game info message@@games/game.loading">Loading...</div>
</ng-template>
