<ng-container *ngIf="channel !== null; else tombstone">
  <a [routerLink]="['/games', gameId]" [queryParams]="{channel: channel.key}">
    <img
      src="{{channel.build.icon | gameIconUri}}"
      [alt]="channel.build.displayName"
    />
    <span class="details">
      <span class="version">{{channel.build.version}}</span>
      <span class="name">{{channel.build.displayName}}</span>
      <span class="description">{{channel.build.description}}</span>
    </span>
  </a>
</ng-container>
<ng-template #tombstone>
  <ng-container i18n="Game list tombstone due to permission change@@games/game-list-item.tombstone">
    Game permissions changed
  </ng-container>
</ng-template>
