<div *ngIf="profile !== undefined; else loading">
  <h1>
    <strong>{{profile!.game!.channels.active.build.displayName}}</strong>
  </h1>
  <nav class="game-tabs">
    <a class="blurred" [routerLink]="['/games', profile!.game!.id]" i18n="Tab to the game main page@@games/game.tab">Game</a>
    <a class="blurred" [routerLink]="['/games', profile!.game!.id, 'leaderboard']"
       i18n="Tab to the game main page@@games/leaderboard.tab">Leaderboard</a>
    <a [routerLink]="['/games', profile!.game!.id, 'profile']"
       i18n="Tab to the user profile for a game@@games/profile.tab" *ngIf="isAuthenticated$ | async">My profile</a>
  </nav>
  <table>
    <thead>
    <tr>
      <th i18n="Profile item images header@@games/profile.header-image">Image</th>
      <th i18n="Profile item count header@@games/profile.header-count">Quantity</th>
      <th i18n="Profile item names header@@games/profile.header-name">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of getItems();">
      <td>
        <img *ngIf="item.image !== null" [src]="item.image">
      </td>
      <td>{{item.count}}</td>
      <td>{{item.displayName}}</td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #loading="">
  <div i18n="Loading leaderboard info message@@games/profile.loading">Loading...</div>
</ng-template>
