dt {
  float: left;
  position: relative;
  width: 240px;
  height: 20px;
  padding-top: 3px;
  display: inline;
  margin-bottom: 8px;
  text-align: right;
}

dd {
  margin-left: 260px;
  margin-bottom: 8px;
  height: 23px;
  font-size: 12pt;
  font-weight: bold;
  color: #d9578d;
}

.items {
  width: 360px;
  margin: auto;
}

.items li {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}
