
<div class="img" [class.locked]="isLocked" [class.unknown]="isUnknown">
  <img src="/assets/items/{{itemId}}.png" alt="{{itemId | hfestItemName}}"/>
</div>
<div class="tooltip">
  <div class="name">{{itemId | hfestItemName}}</div>
  <div class="count">{{count | score}}</div>
</div>
<div class="item-count">{{count == 0 ? "&nbsp;" : (count | shortNumber)}}</div>
