@use "sass:math";

$tooltip-bg-color: #d3696e;
$tooltip-border-width: 3px;
$tooltip-border-color: #c52f36;
$tooltip-width: 160px;
$tooltip-arrow-height: 6px;
$tooltip-text-color: white;
$count-margin: 5px;
$count-outline-color: #ffeef0;

:host {
  position: relative;
  display: block;
}

:host:hover .tooltip {
  display: block;
}

.tooltip {
  pointer-events: none;
  position: absolute;
  display: none;
  width: $tooltip-width;
  z-index: 10;
  bottom: 100%;
  margin-left: 50%;
  margin-bottom: $tooltip-arrow-height + 3px;
  left: math.div(-$tooltip-width, 2);
  background-color: $tooltip-bg-color;
  border: $tooltip-border-width solid $tooltip-border-color;
  color: $tooltip-text-color;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 50%;
    bottom: 0;
    margin-right: -$tooltip-arrow-height;
    margin-bottom: -(2 * $tooltip-arrow-height + $tooltip-border-width);
    border: $tooltip-arrow-height solid transparent;
    border-top: $tooltip-arrow-height solid $tooltip-border-color;
  }
}

.img {
  margin-top: $count-margin;

  &.locked {
    opacity: 0.3;
  }

  &.unknown {
    opacity: 0.2;
    filter: contrast(20%) brightness(120%) grayscale(100%);
  }
}

.item-count {
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.65em;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 $count-outline-color,
     1px -1px 0 $count-outline-color,
    -1px  1px 0 $count-outline-color,
     1px  1px 0 $count-outline-color,
    -1px  0px 0 $count-outline-color,
     0px -1px 0 $count-outline-color,
     0px  1px 0 $count-outline-color,
     1px  0px 0 $count-outline-color;

  margin-top: -$count-margin;
  padding: 1px;
}

.name {
  text-align: center;
  text-decoration: underline;
  font-size: 1.2em;
}

.count {
  text-align: center;
  font-size: 2.5em;
}
