<div *ngIf="user === undefined; else userTemplate">
  <div i18n="Loading user profile message@@users/user.loading">Loading...</div>
</div>
<ng-template #userTemplate>
  <h1 i18n="Title of the user profile's page@@users/user.title"><strong>{{user!.displayName}}</strong>'s profile</h1>
<!--  <ng-container *ngIf="user!.isTester !== undefined">-->
<!--    <div *ngIf="user!.isTester; else notTester">-->
<!--      Already a tester.-->
<!--      <button (click)="setTester(false)">Remove tester status</button>-->
<!--    </div>-->
<!--    <ng-template #notTester>-->
<!--      Not a tester.-->
<!--      <button (click)="setTester(true)">Make Tester</button>-->
<!--    </ng-template>-->
<!--  </ng-container>-->
  <p>The profile page has moved to <a [href]="'https://eternal-twin.net/users/' + user!.id">Eternaltwin</a>.</p>
  <ul>
    <li class="identity" *ngFor="let identity of user?.identities;">
      <div *ngIf="identity.type === IdentityType.Hfest">
        <ef-user-hfest-identity [identity]="identity"></ef-user-hfest-identity>
      </div>
    </li>
  </ul>
</ng-template>
